@use '@/app/styles/helpers' as *;

.search-bar {
  @include flex-center();
  width: rem(380);
  height: rem(46);
  overflow: hidden;

  background-color: var(--color-light-gray);
  color: var(--color-dark-accent);

  border: none;
  border-radius: rem(32);

  padding: rem(15) rem(17);

  cursor: text;

  &__center {
    @include flex-center();
    gap: rem(6);
    flex: 1;
  }

  &__icon {
    width: rem(18);
    height: rem(18);

    &--active {
      color: var(--color-primary-hover);
    }
  }

  &__placeholder {
    max-width: rem(200);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    user-select: none;
    opacity: 1;
  }

  &__input {
    flex: 0;
    color: var(--color-dark);
    background: none;
    border: none;
    outline: none;
  }

  &__cross {
    width: rem(18);
    height: rem(18);
    cursor: pointer;
  }

  &--active {
    gap: rem(4);

    .search-bar__center {
      max-width: fit-content;
      gap: 0;
    }

    .search-bar__input {
      max-width: 100%;
      flex: auto;
    }

    .search-bar__placeholder {
      max-width: 0;
      opacity: 0;
    }
  }

  @include mobile {
    width: rem(345);

    &__icon,
    &__cross {
      width: rem(14);
      height: rem(14);
    }
  }
}
