@use '@/app/styles/helpers' as *;

.header {
  &__inner {
    @include flex-center();
    padding-block: rem(20);
  }

  &__top {
    @include flex-center();
  }

  &__top-left,
  &__top-right {
    @include flex-center();
    gap: rem(50);
  }

  &__top-right {
    margin-left: rem(100);
  }

  &__contact {
    @include flex-center();
    flex-direction: column;
    gap: rem(4);

    &-text {
      font-weight: 500;
      font-size: rem(14);
      color: var(--color-caption);
    }

    &-number {
      font-weight: 700;
    }
  }

  &__login-button {
    font-weight: 500;
    padding: rem(8) rem(19);
    border: 1px solid var(--color-gray);
    border-radius: rem(21);
    color: var(--color-dark);
  }

  @include desktop {
    &__top-left,
    &__top-right {
      gap: rem(20);
    }

    &__top-right {
      margin-left: rem(40);
    }
  }

  @include tablet {
    &__top-left {
      gap: rem(20);
    }

    &__top-right {
      margin-left: rem(30);
    }

    &__contact {
      display: none;
    }
  }
}
