@use '@/app/styles/helpers' as *;

.location-picker {
  &__trigger {
    @include flex-center();
    gap: rem(5);
    cursor: pointer;

    background: none;
    border: none;

    &-icon {
      width: rem(16);
      height: rem(16);
      color: var(--color-primary);
    }

    &-city {
      font-size: rem(16);
      font-weight: 500;
      min-width: rem(225);
      text-align: start;
    }

    @include hover() {
      .location-picker__trigger-icon {
        color: var(--color-accent);
      }
    }
  }
}
