@use '@/app/styles/helpers' as *;

.location-picker {
  &__main {
    @include flex-center();
    gap: rem(5);
    cursor: pointer;

    @include hover() {
      .location-picker__icon {
        color: var(--color-accent);
      }
    }
  }

  &__icon {
    width: rem(16);
    height: rem(16);
    color: var(--color-primary);
  }

  &__city {
    font-size: rem(16);
    font-weight: 500;
    min-width: rem(150);
  }

  &__modal {
    @include flex-center();
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1000;

    &-inner {
      display: flex;
      position: relative;
      flex-direction: column;
      justify-content: center;
      border-radius: rem(30);
      max-width: rem(700);
      gap: rem(20);
      background-color: var(--color-light);
      padding: rem(20);
    }

    &-title {
      font-size: rem(18);
    }

    &-search {
      align-self: center;
    }

    &-close {
      position: absolute;
      top: rem(20);
      right: rem(20);
      color: var(--color-caption);
      cursor: pointer;

      height: rem(20);
      width: rem(20);

      @include hover() {
        color: var(--color-primary-hover);
      }
    }
  }

  &__popular-cities {
    @include flex-center();
    flex-wrap: wrap;
    gap: rem(10);
  }

  &__popular-city {
    font-size: rem(14);
    padding-inline: rem(10);
    padding-block: rem(6);
    background-color: var(--color-light-gray);
    border-radius: rem(10);
    border: none;

    @include hover() {
      color: var(--color-light);
      background-color: var(--color-primary);
    }
  }

  &__columns {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }

  &__column {
    display: flex;
    flex-direction: column;
    gap: rem(10);
    min-width: rem(220);

    &-title {
      font-size: rem(18);
      padding-left: rem(10);
    }

    &-items {
      display: flex;
      flex-direction: column;
      gap: rem(6);
      font-size: rem(16);
      min-height: 100%;
      max-height: rem(394);
      min-width: 100%;
      overflow: auto;
    }

    &-item {
      padding: rem(10);
      border-radius: rem(10);

      &--active {
        color: var(--color-light);
        background-color: var(--color-primary);
      }

      @include hover() {
        color: var(--color-light);
        background-color: var(--color-primary);
        cursor: pointer;
      }
    }
  }

  @include tablet {
    &__main {
      flex-direction: column;
    }

    &__city {
      font-size: rem(12);
      text-align: center;
      min-width: rem(107);
    }
  }
}
