@use '@/app/styles/helpers' as *;

.location-picker {
  &__modal {
    @include flex-center();
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1000;

    &-content {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      gap: rem(20);
      border-radius: rem(30);
      width: rem(818);
      height: rem(737);
      background-color: var(--color-light);
      padding: rem(20);
    }

    &-header {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    &-title {
      font-size: rem(18);
    }

    &-close {
      @include flex-center();
      width: rem(40);
      height: rem(40);
      background: none;
      border: none;

      &-icon {
        color: var(--color-caption);
        height: rem(20);
        width: rem(20);
      }

      @include hover() {
        .location-picker__modal-close-icon {
          color: var(--color-primary-hover);
        }
      }
    }

    &-search {
      align-self: center;
    }

    &-popular-cities {
      @include flex-center();
      flex-wrap: wrap;
      gap: rem(10);
    }

    &-popular-city {
      font-size: rem(14);
      padding-inline: rem(10);
      padding-block: rem(6);
      background-color: var(--color-light-gray);
      border-radius: rem(10);
      border: none;

      @include hover() {
        cursor: pointer;
        color: var(--color-light);
        background-color: var(--color-primary);
      }

      &--selected {
        background-color: var(--color-primary);
        color: var(--color-light);
      }
    }

    &-columns {
      display: flex;
      align-items: flex-start;
      gap: rem(20);
    }

    &-search-results {
      max-height: rem(527);
      overflow: auto;
    }

    &-search-list {
      display: flex;
      flex-direction: column;
      gap: rem(10);
    }

    &-search-item {
      @include hover() {
        cursor: pointer;
        color: var(--color-primary-hover);
      }

      &:focus {
        outline: none;
        color: var(--color-primary-active);
      }
    }
  }
}
